*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
settings.gradle
gradlew.bat
gradlew
gradle.properties
build.gradle
app/.gitignore
app/proguard-rules.pro
app/src/androidTest/java/citymanageproject/com/ExampleInstrumentedTest.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
